html {
  box-sizing: border-box;
  font-size: 65.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #202124;
  color: #bdc1c6;
  font-size: 14px;
}

a {
  color: white;
  text-decoration: none;
}

input {
  all: unset;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 6px;
  height: 48px;
  font-size: 13px;
}

.nav-links {
  width: 136px;
  display: flex;
  justify-content: center;
}

.nav-links a:first-child {
  padding-right: 15px;
}

.nav-menulinks {
  width: 48px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menulinks img {
  height: 24px;
}

.nav-profile {
  padding-right: 4px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-profile img {
  border-radius: 50%;
}

button {
  all: unset;
}

.btnsCta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnsCta__btns {
  height: 58px;
  padding-top: 18px;
}

.btnsCta__btns button {
  background-color: #303134;
  border: 1px solid #303134;
  color: white;
  padding: 0 16px;
  line-height: 27px;
  margin: 11px 4px;
  border-radius: 4px;
  height: 36px;
  cursor: pointer;
}

.btnsCta__btns button:hover {
  border: 1px solid #5f6368;
}

.btnsCta__btns button:focus {
  border: 1px solid #5f6368;
}

.btnsCta__txt {
  font-size: 13px;
  margin-top: 20px;
}

.btnsCta__txt p a {
  color: #8ab4f8;
}

.btnsCta__txt p a:hover {
  text-decoration: underline;
}

.logoBuscador__logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
  height: 203px;
}

.logoBuscador__logo img {
  max-height: 92px;
}

.logoBuscador main {
  display: flex;
  justify-content: center;
}

.logoBuscador__buscador {
  width: 582px;
  height: 44px;
  border: 1px solid #5f6368;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

.logoBuscador__buscador:hover {
  background-color: #303134;
  border: 1px solid #303134;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: #303134;
  border: 1px solid #303134;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.logoBuscador__buscador--lupa {
  width: 20px;
  height: 20px;
}

.logoBuscador__buscador--lupa img {
  height: 100%;
}

.logoBuscador__buscador--input {
  padding: 0 8px 0 13px;
  width: 90%;
}

.logoBuscador__buscador--input input {
  width: 100%;
}

.logoBuscador__buscador--mic {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.logoBuscador__buscador--mic img {
  height: 24px;
}

#footer {
  width: 100%;
  height: 94px;
  background-color: #171717;
  position: fixed;
  bottom: 0;
  color: #9aa0a6;
}

.footer__localisation {
  border-bottom: 1px solid rgba(154, 160, 166, 0.3);
  padding: 15px 30px;
  font-size: 15px;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 14px;
}

.footer__nav--interes ul {
  display: flex;
}

.footer__nav--interes ul li {
  padding: 15px;
}

.footer__nav--interes ul li a {
  color: #9aa0a6;
}

.footer__nav--interes ul li a:hover {
  text-decoration: underline;
}

.footer__nav--condiciones ul {
  display: flex;
}

.footer__nav--condiciones ul li {
  padding: 15px;
}

.footer__nav--condiciones ul li a {
  color: #9aa0a6;
}

.footer__nav--condiciones ul li a:hover {
  text-decoration: underline;
}
