html {
    box-sizing: border-box;
    font-size: 65.5%; /* 10px = 1rem */
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #202124;
    color: #bdc1c6;
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 6px;
    height: 48px;
    font-size: 13px;
}

.nav-links {
    width: 136px;
    display: flex;
    justify-content: center;
}

.nav-links a:first-child {
    padding-right: 15px;
}

.nav-menulinks {
    width: 48px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menulinks img {
    height: 24px;
}

.nav-profile {
    padding-right: 4px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-profile img {
    border-radius: 50%;
}

button {
    all: unset;
}

.btnsCta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btnsCta__btns button {
    background-color: #303134;
    border: 1px solid #303134;
    color: white;
    padding: 0 16px;
    line-height: 27px;
    margin: 11px 4px;
    border-radius: 4px;
    height: 36px;
    cursor: pointer;
}

.btnsCta__btns button:hover {
    border: 1px solid #5f6368;
}

.btnsCta__btns button:focus {
    border: 1px solid #5f6368;
}

.btnsCta__txt {
    font-size: 13px;
}

.btnsCta__txt p a {
    color: #8ab4f8 ;
}

.btnsCta__txt p a:hover {
    text-decoration: underline;
}